<div class="content-page">
  
    {{> back}}
    
    <h4>My comments</h4>
    <br>

    <div class="my-comments-section">
        
        {{#each comment}}
            <div class="com-container">              
                
                <div class="mycom-left-section">
                    <img src={{this.recipe.image}} alt="picture" class="my-com-img">
                    <h6>{{this.recipe.name}}</h6> 
                </div> 

                <div class="mycom-middle-section">
                    <p>{{this.text}}</p>
                </div>                        

                <div class="mycom-right-section">
                    <a href="/all-recipes/{{this.recipe._id}}" class="fav-btn my-com-btn">
                        <img src="/images/btn-view.png" class="comment-icon-view">
                    </a>
                    <a href="/my-profile/my-comments/{{this._id}}/delete" class="fav-btn my-com-btn">
                        <img src="/images/btn-delete.png" >
                    </a>
                </div>
                
            </div>
        {{/each}}

    </div>

</div>
