<div class="content-page">


  <h4>My favorite recipes</h4>


    <div class="recipes-container">

    {{#each currentUser.favorites}}
      <div class="recipe-card" >

        <a href="/all-recipes/{{this._id}}">
          <img class="recipe-card-img" src="{{this.image}}" alt="Recipe icon img">
        </a>


        <form method="POST" action="/my-profile/{{_id}}/my-favorites/{{this._id}}/unfavorite" >
          <button type="submit" class="fav-btn"><img src="/images/unfavorite-btn.png"></button>
        </form>    


        <a href="/all-recipes/{{this._id}}">          
          <h6>{{this.name}}</h6>                    
        </a>

      </div>
    {{/each}}

  </div>



</div>





