<div class="content-page">
    
    <h4>Hi {{currentUser.username}}, welcome to your profile page!</h4>


        <form method="GET" action="/my-profile/{{currentUser._id}}/edit" id="profile-detail">
            <label>Personal details:</label>

            <label for="username" class="label-profile-detail">Username</label>
            <span>{{currentUser.username}}</span>

            <label for="email" class="label-profile-detail">Email</label>
            <span>{{currentUser.email}}</span>

            <label for="password" class="label-profile-detail">Password</label>
            <span>**********</span>
            
            <label for="usertype" class="label-profile-detail">User type</label>
            <span>{{currentUser.usertype}}</span>


            <button type="submit" class="btn btn-sm btn-outline-secondary" >Edit user</button>
        </form>
    
    <form method="GET" action="/my-profile/{{currentUser._id}}/delete">
        <button type="submit" class="btn btn-sm btn-outline-secondary">Delete user</button>
    </form>


    <h4>Quick access</h4>

    <a href= "/create-recipe" class="btn btn-sm btn-outline-secondary">Create a new recipe</a>


    <a href= "/my-profile/{{currentUser._id}}/my-favorites" class="btn btn-sm btn-outline-secondary">My Favorites</a>
    <a href= "/my-profile/{{currentUser._id}}/my-recipes" class="btn btn-sm btn-outline-secondary">My Recipes</a>
    <a href= "/my-profile/{{currentUser._id}}/my-comments" class="btn btn-sm btn-outline-secondary">My Comments</a>


</div>


