
<div class="card-container">
{{#each currentUser.recipes}}
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Category: {{this.category}}</li>
      <li class="list-group-item">Purpose: {{this.purpose}}</li>
      {{!-- Image of level --}}
      <li class="list-group-item">Difficulty: {{this.level}}</li>
      {{!-- Image of cost --}}
      <li class="list-group-item">Cost: {{this.cost}}</li>
    </ul>
    <div class="card-body">
      <a href="/all-recipes/{{this._id}}" class="card-link">See recipe</a>
      <a href="/my-profile/my-recipes/{{this._id}}/edit" class="card-link">Edit</a>
      <form action="/my-profile/my-recipes/{{this._id}}/delete" method="POST">
        <button class="card-link">Delete</button>   
      </form>
    </div>
  </div>


{{/each}}
</div>