
<div class="content-page">

  <h4>My recipes</h4>
  
  <div class="recipes-container">

    {{#each recipes}}
    <div class="recipe-card" >

      <a href="/all-recipes/{{this._id}}">
        <img class="recipe-card-img" src="{{this.image}}" alt="Recipe icon img">
      </a>

      
      <div>
        <h6>{{this.name}}</h6>
      </div>
    
      <div class="my-rec-btns-container">

        <div id="my-rec-btns">
          <a href="/all-recipes/{{this._id}}" class="btn">
            <img src="/images/btn-view.png" class="icon-my-rec">
          </a>
        </div>

        <div id="my-rec-btns">
          <a href="/my-profile/my-recipes/{{this._id}}/edit" class="btn">
            <img src="/images/btn-edit.png" class="icon-my-rec">
          </a>
        </div>

        <div id="my-rec-btns">
          <form action="/my-profile/my-recipes/{{this._id}}/delete" method="POST">
            <button class="btn"><img src="/images/btn-delete.png" class="icon-my-rec"></button>  
          </form>
        </div>
                
      </div>

    </div>
    {{/each}}

  </div>

</div>
