{{!-- 
<div class="recipes-container">
{{#each recipes}}
    <div class="recipe-card" style="width: 18rem;">
    <img class="recipe-card-img" src="{{this.image}}" alt="Recipe icon img">
    <div>
      <h6>{{this.name}}</h6>
    </div>
  
    <div>
      <a href="/all-recipes/{{this._id}}" class="btn">See recipe</a>
      <a href="/my-profile/my-recipes/{{this._id}}/edit" class="btn">Edit</a>
      <form action="/my-profile/my-recipes/{{this._id}}/delete" method="POST">
        <button class="btn">Delete</button>   
      </form>
    </div>
  </div>


{{/each}}
</div> --}}


<div class="recipes-container">
  {{#each recipes}}
  <div class="recipe-card" >
    <img class="recipe-card-img" src="{{this.image}}" alt="Recipe icon img">
    <div>
      <h6>{{this.name}}</h6>
    </div>
  
    <div id="card-btns">
      <a href="/all-recipes/{{this._id}}" class="btn">See recipe</a>
      <a href="/my-profile/my-recipes/{{this._id}}/edit" class="btn">Edit</a>
      <form action="/my-profile/my-recipes/{{this._id}}/delete" method="POST">
        <button class="btn">Delete</button>  
      </form>

    </div>
  </div>
  {{/each}}
</div>
