<a name="top"></a>
<div class="content-page">

  {{> back}}

  <h4>My recipes</h4>
  
  <div class="recipes-container">

    {{#each recipes}}
    <div class="recipe-card" >

      <a href="/all-recipes/{{this._id}}">
        <img class="recipe-card-img" src="{{this.image}}" alt="Recipe icon img">
      </a>

      
      <div>
        <h6>{{this.name}}</h6>
      </div>
    
      <div class="my-rec-btns-container">

        <div id="my-rec-btns">
          <a href="/all-recipes/{{this._id}}" class="btn">
            <img src="/images/btn-view.png" class="icon-my-rec">
          </a>
        </div>

        <div id="my-rec-btns">
          <a href="/my-profile/my-recipes/{{this._id}}/edit" class="btn">
            <img src="/images/btn-edit.png" class="icon-my-rec">
          </a>
        </div>


        <div id="my-rec-btns">
          <a href="/my-profile/my-recipes/{{this._id}}/delete" class="btn">
            <img src="/images/btn-delete.png" class="icon-my-rec">
          </a>
        </div>
                
      </div>

    </div>
    {{/each}}

  </div>
  <a href="#top" class="up-btn"><img class="up-img" src="/images/up-img.png"></a>
</div>


 <script>
    arrowTop.onclick = function() {
      window.scrollTo(pageXOffset, 0);
    };

    window.addEventListener('scroll', function() {
      arrowTop.hidden = (pageYOffset < document.documentElement.clientHeight);
    });
</script>