<div>

    <h4>Hi, I am {{currentUser.username}}</h4>

</div>


<div>

    <h4>These are my recipes</h4>
        
    <div class="recipes-container">
{{#each currentUser.recipes}}
    <div class="recipe-card">
    <img class="recipe-card-img" src="{{this.image}}" alt="Recipe icon img">
    <div>
      <h6>{{this.name}}</h6>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Category: {{this.category}}</li>
      <li class="list-group-item">Purpose: {{this.purpose}}</li>
      {{!-- Image of level --}}
      <li class="list-group-item">Difficulty: {{this.level}}</li>
      {{!-- Image of cost --}}
      <li class="list-group-item">Cost: {{this.cost}}</li>
    </ul>
    <div>
      <a href="/all-recipes/{{this._id}}" class="card-link">See recipe</a>
    </div>
  </div>


{{/each}}
</div>

</div>