<div class="content-page">
  
  {{!-- <article id="index-intro" class="index-odd content-page"> --}}
  <article id="index-intro">

      <h4>Welcome</h4>
      <h6>Find, create and save many recipes to create your own natural cosmetic and beauty products.</h6>

  </article>


  <article id="index-recipes">

    <h4>Discover the recipes</h4>
       


    <div class="recipes-container">
      {{#each recipe}}          
        {{!-- <div class="recipe-card" style="width: 14rem;"> --}}
        <div class="recipe-card">
          <a href="/all-recipes/{{this._id}}" class="card-link">        
            <img class="recipe-card-img" src="{{this.image}}" alt="Recipe icon img">
            <h6>{{this.name}}</h6>    
          </a>
        </div>
      {{/each}}
    


    {{!-- <div class="recipes-container">
      {{#each currentUser.favorites}}          
        <a href="/all-recipes/{{this._id}}" class="card-link">        
          <div class="recipe-card" style="width: 14rem;">
            <img class="recipe-card-img" src="{{this.image}}" alt="Recipe icon img">
            <h6>{{this.name}}</h6>              
          </div>
        </a>
      {{/each}} --}}
    
      <a href= "/all-recipes" class="btn">See more recipes</a>

    </div>
  

  </article>


  {{#if currentUser}}

  {{else}}
  <div id = "log-sign-bar">
          {{!-- <a href= "/signup" class="btn  ">Sign Up</a> --}}

          <a href= "/signup" class="btn">Sign Up</a>
          <a href= "/login" class="btn">Log In</a>
  {{/if}} 
  </div>



</div>


