<div class="content-page">
  
  {{!-- <article id="index-intro" class="index-odd content-page"> --}}
  <article id="index-intro">

      <h1>Welcome to {{title}}</h1>
      <div>On CosmeticsHack, you will find many recipes to create yourself your cosmetics products with natural and organic products.</div>

  </article>


  <article id="index-recipes">

    <h4>Discover the recipes</h4>

    {{!-- <div id="index-recipes" class="index-even"> --}}
        
      {{!-- <div class="card-container"> --}}
      <div class="card-container">
        {{#each recipe}}          
          <a href="/all-recipes/{{this._id}}" class="card-link">        
            <div class="card" style="width: 14rem;">
              <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
              <h5 class="card-title">{{this.name}}</h5>              
            </div>
          </a>
        {{/each}}
      
        <a href= "/all-recipes" class="btn btn-sm btn-outline-secondary">See more recipes</a>

      </div>
      {{!-- </div> --}}


    {{!-- </div> --}}

  </article>


  {{#if currentUser}}

  {{else}}
  <div id = "log-sign-bar">
          <a href= "/signup" class="btn btn-sm btn-outline-secondary">Sign Up</a>
          <a href= "/login" class="btn btn-sm btn-outline-secondary">Log In</a>
  {{/if}} 
  </div>



</div>


