<div id="index-intro" class="index-odd content-page">

    <h1>Welcome to {{title}}</h1>
    <div>On CosmeticsHack, you will find many recipes to create yourself your cosmetics products with natural and organic products.</div>

</div>

<div class="discover">
    <h4>DISCOVER THE RECIPES</h4>

</div>

<div id="index-recipes" class="index-even">
    
  <div class="card-container">
  {{#each recipe}}
    <a href="/all-recipes/{{this._id}}" class="card-link btn recipe-add">
      <div class="card card-small">
        <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
        </div>
      </div>     
    </a>    
  {{/each}}
  </div>

  <a href= "/all-recipes" class="btn btn-sm btn-outline-secondary sign">See more recipes</a>

</div>

{{#if currentUser}}

{{else}}
<div id = "log-sign-bar">
        <a href= "/signup" class="btn btn-sm btn-outline-secondary sign">Sign Up</a>
        <a href= "/login" class="btn btn-sm btn-outline-secondary log">Log In</a>
{{/if}} 
</div>
