<a name="top"></a>
<div class="content-page">
 
  {{> back}}
  
  <h4>All recipes</h4>
  <br>


  <div class="search-sort-container">

    <div class="search-container">
      <form method="GET" action="/all-recipes/search">

         <select name="category">
            <option value="empty">Category</option>
            <option value="body">Body</option>
            <option value="face">Face</option>
            <option value="hair">Hair</option>
          </select>

          <select name="purpose">
            <option value="empty">Purpose</option>
            {{#each purposeArr}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>
          
          
          <div>


             <select name="ingredients">
            <option value="empty">Ingredients</option>
            {{#each ingredientsArr}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>        

        <button type="submit" class="btn btn-hover search-sort-btn">Search</button>

        {{#if errorMessage}}
          <p>{{errorMessage}}</p>
        {{/if}}




          </div>


         

      </form>
    </div>


    <div class="sort-container">
      <form method="GET" action="/all-recipes/sort">
        <select name="rating">
          <option value="empty">Rating</option>
          <option value="high-low">High to low</option>
          <option value="low-high">Low to high</option>
        </select>
        <button type="submit" class="btn btn-hover">Sort</button>
      </form>      
    </div>

  
  </div>

    

{{!-- Recipes carts --}}
  
<div class="recipes-container">

    {{#each recipe}}
      <div class="recipe-card" >

        <a href="/all-recipes/{{this._id}}">
          <img class="recipe-card-img" src="{{this.image}}" alt="Recipe icon img">
          <h6>{{this.name}}</h6>                    
        </a>

        {{#if this.alreadyFav}}
          <form method="POST" action="/all-recipes/{{this._id}}/unfavorite" >
            <button type="submit" class="fav-btn"><img src="/images/unfavorite-btn.png"></button>
          </form>
        {{else}}
          <form method="POST" action="/all-recipes/{{this._id}}/favorite" >
            <button type="submit" class="fav-btn"><img src="/images/favorite-btn.png"></button>
          </form>
        {{/if}} 
      </div>
    {{/each}}

  </div>

  <a href="#top" id="arrowTop" class="up-btn" hidden><img class="up-img" src="/images/up-img.png"></a>
</div>

<script>
    arrowTop.onclick = function() {
      window.scrollTo(pageXOffset, 0);
    };

    window.addEventListener('scroll', function() {
      arrowTop.hidden = (pageYOffset < document.documentElement.clientHeight);
    });
</script>


