  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
  <link rel="stylesheet" href="dist/sellect.js-master/dist/sellect.css">

<div class="content-page">
  
  <h4>Create a new recipe</h4>
  <br>

  <div id="create-recipe-element">

    <form method="POST" action="/create-recipe" enctype="multipart/form-data">
    
      <div class="form-group">
        <label for="recipeName" class="form-label">Recipe name</label>
        <input name="name" type="text" class="form-complete-field" id="recipeName" placeholder="Type the name of your recipe">
      </div>

      <div class="form-group">
        <label for="category" class="form-label">Category</label>
        <select class="form-complete-field" id="category" name="category">
            <option value="face">Face</option>
            <option value="body">Body</option>
            <option value="hair">Hair</option>
          </select>
      </div>

      <div class="form-group ">
        <label for="purpose" class="form-label">Purpose</label>
        <div "check-list">
          <div class="form-check">
            <input class="form-check-input" name="purpose" type="checkbox" value="anti-aging" id="purpose">
            <label class="form-check-label" for="purpose">
              Anti-aging
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" name="purpose" type="checkbox" value="exfoliating" id="purpose">
            <label class="form-check-label" for="purpose">
              Exfoliating
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" name="purpose" type="checkbox" value="moisturizing" id="purpose">
            <label class="form-check-label" for="purpose">
              Moisturizing
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" name="purpose" type="checkbox" value="perfuming" id="purpose">
            <label class="form-check-label" for="purpose">
              Perfuming
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" name="purpose" type="checkbox" value="purifying" id="purpose">
            <label class="form-check-label" for="purpose">
              Purifying
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" name="purpose" type="checkbox" value="refreshing" id="purpose">
            <label class="form-check-label" for="purpose">
              Refreshing
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" name="purpose" type="checkbox" value="repairing" id="purpose">
            <label class="form-check-label" for="purpose">
              Repairing
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" name="purpose" type="checkbox" value="sun-protection" id="purpose">
            <label class="form-check-label" for="purpose">
              Sun-Protection
            </label>
          </div>
        </div>
      </div>



      {{!-- to be finished --}}

      {{!-- <div class="form-group ">
        <label for="purpose" class="form-label">Purpose</label>

        {{#each purpose}}   
          <div "check-list">
            <div class="form-check">
              <input class="form-check-input" name="purpose" type="checkbox" value="{{this}}" id="purpose">
              <label class="form-check-label" for="purpose">
                {{this}}
              </label>
            </div>      
          </div>
        {{/each}}

      </div> --}}




      <div class="form-group">
        <label for="ingredients" class="form-label">Ingredients</label>

        {{#each ingredients}}   
          <div "check-list">
            <div class="form-check">
              <input class="form-check-input" name="ingredients" type="checkbox" value="{{this.name}}" id="purpose">
              <label class="form-check-label" for="ingredients">
                {{this.name}}
              </label>
            </div>      
          </div>
        {{/each}}

      </div>


    {{!-- ingredients list with "search bar" --}}
    {{!-- <input type="text" id="my-element"> --}}


      <div class="form-group">
        <label for="steps" class="form-label">Steps</label>
        <input name="steps" type="text" class="form-complete-field" id="steps" placeholder="Describe the different steps">
      </div>
      
      <div class="form-group">
        <label for="time" class="form-label">Time</label>
        <input name="time" type="number" class="form-complete-field" id="time" placeholder="In minutes">
      </div>

      <div class="form-group">
        <label for="materials" class="form-label">Materials</label>
        <input name="materials" type="text" class="form-complete-field" id="materials" placeholder="Material needed">
      </div>
    
      <div class="form-group">
        <label for="conservation" class="form-label">Conservation</label>
        <input name="conservation" type="number" class="form-complete-field" id="conservation" placeholder="In months">
      </div>
    

      
      <div class="form-row">
        <div class="col-md-6 mb-3 ">
          <label for="cost" class="form-label">Cost</label>
          <select class="form-complete-field cost" id="cost" name="cost">
              <option value="low">Low</option>
              <option value="medium">Medium</option>
              <option value="high">High</option>
          </select>
        </div>
        <div class="col-md-3 mb-3 cost">
          <label for="level" class="form-label">Level</label>
          <select class="form-complete-field cost" id="level" name="level">
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="imageUrl" class="form-label">Image</label>
        <input name="imageUrl" type="file" class="form-complete-field" class="custom-file-upload" id="imageUrl">
      </div>

      {{#if errorMessage}}
        <p class="error-create">{{errorMessage}}</p>
      {{/if}}

      <button type="submit" class="btn">Create</button>
    </form>
  </div>



</div>






<script src="dist/sellect.js-master/dist/sellect.js"></script>
<script src="javascripts/myInput.js"></script>





  
