<div class="content-page">
  {{> back}}
  <h4>Edit {{recipe.name}}</h4>

  <div id="create-recipe-element">
    <form method="POST" action="/my-profile/my-recipes/{{recipe._id}}/edit">

      <div class="form-group">
        <label for="category">Category</label>
        <select class="form-complete-field" id="category" name="category">
            {{#each category}}
            <option value="{{this.name}}" {{#if this.isChecked}}selected{{/if}}>{{this.name}}</option>
             {{/each}}
          </select>
      </div>

      <div class="form-group ">
          <label for="purpose" class="form-label">Purpose</label>
          {{#each purpose}}   
            <div "check-list">
              <div class="form-check">
                <input class="form-check-input" name="purpose" type="checkbox" value="{{this.name}}" id="purpose" {{#if this.isChecked}}checked{{/if}}>
                <label class="form-check-label" for="purpose">
                  {{this.name}}
                </label>
              </div>      
            </div>
          {{/each}}
        </div>

        <div class="form-group">
          <label for="ingredients" class="form-label">Ingredients</label>
          {{#each ingredients}}   
            <div "check-list">
              <div class="form-check">
                <input class="form-check-input" name="ingredients" type="checkbox" value="{{this.name}}" id="purpose" {{#if this.isChecked}}checked{{/if}}>
                <label class="form-check-label" for="ingredients">
                  {{this.name}}
                </label>
              </div>      
            </div>
          {{/each}}
        </div>

      <div class="form-group">
        <label for="steps" class="form-label">Steps</label>
        <textarea name="steps" type="text" id="steps" rows="3" cols="33" placeholder="Describe the different steps" class="form-complete-field">{{recipe.steps}}</textarea>
      </div>

      <div class="form-group">
        <label for="preparation">Preparation time</label>
        <input name="preparation" type="number" class="form-complete-field" id="preparation" placeholder="... minutes" value="{{recipe.preparation}}">
      </div>

       <div class="form-group">
          <label for="materials" class="form-label">Materials</label>
          {{#each materials}}   
            <div "check-list">
              <div class="form-check">
                <input class="form-check-input" name="materials" type="checkbox" value="{{this.name}}" id="purpose" {{#if this.isChecked}}checked{{/if}}>
                <label class="form-check-label" for="materials">
                  {{this.name}}
                </label>
              </div>      
            </div>
          {{/each}}
      </div>

      <div class="form-group">
        <label for="conservation">Conservation</label>
        <input name="conservation" type="text" class="form-complete-field" id="conservation" placeholder="For example: three months in freezer" value="{{recipe.conservation}}">
      </div>

      <div class="form-row">
        <div class="col-md-6 mb-3 ">
          <label for="cost" class="form-label">Cost</label>
          <select class="form-complete-field cost" id="cost" name="cost">
            {{#each cost}}  
              <option value="{{this.name}}" {{#if this.isChecked}}selected{{/if}}>{{this.name}}</option>
            {{/each}}
          </select>
        </div>
        <div class="col-md-3 mb-3 cost">
          <label for="level" class="form-label">Level</label>
          <select class="form-complete-field cost" id="level" name="level">
            {{#each level}}
              <option value="{{this.name}}" {{#if this.isChecked}}selected{{/if}}>{{this.name}}</option>
            {{/each}}
          </select>
        </div>
      </div>

      <button type="submit" class="btn btn-hover btn-primary button">Edit</button>
    </form>
  </div>
</div>