
<h2>{{recipe.name}}</h2>
<img src="{{recipe.image}}">

{{!-- <p>{{recipe.ingredients}}</p> --}}
<p>Steps: {{recipe.steps}}</p>
<p>Materials: {{recipe.materials}}</p>
<p>Category: {{recipe.category}}</p>
<p>Purpose: {{recipe.purpose}}</p>
<p>Difficulty: {{recipe.level}}</p>
<p>Time: {{recipe.time}}</p>
<p>Cost: {{recipe.cost}}</p>
<p>Conservation: {{recipe.conservation}}</p>
{{!-- <p>Rating: {{recipe.rating}}</p> --}}
<p>Created by: <a href="/public-profile/{{recipe.user._id}}">{{recipe.user.username}}</a></p>
<p>Date: {{date}}</p>