<div class="content-page">

    <h4>{{recipe.name}}</h4>
    <img src="{{recipe.image}}" alt="image" class="recipe-img">



    <div class="recipe-fields">

        <div class="recipe-field-inside">
            <p class="recipe-field-name">Cost</p>
            <img src={{cost}} alt="cost" class="recipe-icon-dots">
        </div>
        

        <div class="recipe-field-inside">
            <p class="recipe-field-name">Difficulty</p>
            <img src={{level}} alt="level" class="recipe-icon-dots">
        </div>        


        <div class="recipe-field-inside">
            <p class="recipe-field-name">Rating</p>
            {{#ifEquals rating 0}}
                <p><em>No rating yet</em></p>
            {{else}}
            <img src={{rating}} alt="rating" id="recipe-icon-rating">
            {{/ifEquals}}
        </div> 

    </div>


    <div class="recipe-fields">

        <div class="recipe-field-inside">
            <p class="recipe-field-name">Category</p>
            <p>{{recipe.category}}</p>
        </div>
        

        <div class="recipe-field-inside">
            <p class="recipe-field-name">Purpose(s)</p>
            <ul>
                {{#each recipe.purpose}}          
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>        

    </div>
  


    <div class="recipe-fields">

        <div class="recipe-field-inside">
            <p class="recipe-field-name">Preparation time</p>
            <p> {{recipe.preparation}} min</p>
        </div>
        

        <div class="recipe-field-inside">
            <p class="recipe-field-name">Conservation </p>
            <p> {{recipe.conservation}}</p>
        </div>        

    </div>


    <div class="recipe-fields">

        <div class="recipe-field-inside">
            <p class="recipe-field-name">Materials</p> 
            <ul>
                {{#each recipe.materials}}          
                    <li>{{this}}</li>
                {{/each}}
            </ul> 
        </div>
        

        <div class="recipe-field-inside">
            <p class="recipe-field-name">Ingredients</p>
            <ul>
                {{#each recipe.ingredients}}          
                    <li>{{this}}</li>
                {{/each}}
            </ul> 
        </div>        

    </div>
    

    <p class="recipe-field-name">Steps </p>
    <p id="recipe-steps-text">{{recipe.steps}}</p>
    <br>

    <div class="recipe-fields">

        <div class="recipe-field-inside">
            <p class="recipe-field-name">Created by</p>
            {{#ifEquals recipe.user null}}
                <p><em>User123</em></p>
            {{else}}
                <a href="/public-profile/{{recipe.user._id}}">{{recipe.user.username}}</a>
            {{/ifEquals}}
        </div>
        

        <div class="recipe-field-inside">
            <p class="recipe-field-name">On </p>
            {{date}}
        </div>         

    </div>

    <div class="comment-section">

        <h4>Comments</h4>

        <div class="comments-list">
            {{#each comment}}
                <img src="/images/separate-line.png" class="separator-flower">
                <p class="comment-field"><strong>{{this.user.username}}</strong> - <em>{{this.text}}</em></p> 
            {{/each}}
        </div>
        
        <div class="add-comment-section">
            <form method="POST" action="/all-recipes/{{recipe._id}}/comment">
                <textarea name="text" type="text" id="text" rows="3" cols="33" placeholder="Write a review or a comment here"></textarea>
                <label for="rating" class="form-label">Your rating</label>
                <input name="rating" type="number" id="rating" max="5" min="1" required placeholder="Min is 1, max is 5">
                <button type="sumbit" class="btn btn-hover">Post your comment</button>
            </form>
        </div>



        {{!-- <div class="add-comment-section">
            <form method="POST" action="/all-recipes/{{recipe._id}}/comment" enctype="multipart/form-data">
                <textarea name="text" type="text" id="text" rows="3" cols="33" placeholder="Write your comment here"></textarea>
                <label for="rating" class="form-label">Your rating</label> 
               <input name="rating" type="number" id="rating" max="5" min="1"  placeholder="Min is 1, max is 5">

                <select class="form-complete-field" id="rating" name="rating">
                    <option value="Rating">Rating</option>                    
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>                    
                </select>

                <button type="sumbit" class="btn btn-hover">Post your comment</button>
            </form>
        </div>  --}}

    </div>

</div>



