{{> navbar }}
<h2>{{recipe.name}}</h2>
<img src="{{recipe.image}}">

{{!-- <p>{{recipe.ingredients}}</p> --}}
<p>{{recipe.steps}}</p>

<p>{{recipe.materials}}</p>

<p>Category: {{recipe.category}}</p>
<p>Prupose: {{recipe.purpose}}</p>
<p>Difficulty: {{recipe.level}}</p>
<p>Time: {{recipe.time}}</p>
<p>Cost: {{recipe.cost}}</p>
<p>Conservation: {{recipe.conservation}}</p>
<p>Rating: {{recipe.rating}}</p>
<p>Created by: {{recipe.created}}</p>
<p>Date: {{recipe.date}}</p>