<div class="content-page">

    <h4>{{recipe.name}}</h4>
    <img src="{{recipe.image}}" alt="image" class="recipe-img">

    <div class="recipe-fields">

        <div class="recipe-field-inside">
            <p class="recipe-field-name">Cost</p>
            <img src={{cost}} alt="cost">
        </div>
        

        <div class="recipe-field-inside">
            <p class="recipe-field-name">Difficulty</p>
            <img src={{level}} alt="level">
        </div>        

    </div>


    <div class="recipe-fields">

        <div class="recipe-field-inside">
            <p class="recipe-field-name">Category</p>
            <p>{{recipe.category}}</p>
        </div>
        

        <div class="recipe-field-inside">
            <p class="recipe-field-name">Purpose(s)</p>
            <ul>
                {{#each recipe.purpose}}          
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>        

    </div>
  


    <div class="recipe-fields">

        <div class="recipe-field-inside">
            <p class="recipe-field-name">Preparation time</p>
            <p> {{recipe.time}} min</p>
        </div>
        

        <div class="recipe-field-inside">
            <p class="recipe-field-name">Conservation </p>
            <p> {{recipe.conservation}} mois</p>
        </div>        

    </div>





  <div class="recipe-fields">

        <div class="recipe-field-inside">
            <p class="recipe-field-name">Materials</p> 
            <ul>
                {{#each recipe.materials}}          
                    <li>{{this}}</li>
                {{/each}}
            </ul> 
        </div>
        

        <div class="recipe-field-inside">
            <p class="recipe-field-name">Ingredients</p>
            <ul>
                {{#each recipe.ingredients}}          
                    <li>{{this}}</li>
                {{/each}}
            </ul> 
        </div>        

    </div>


        <p class="recipe-field-name">Steps </p>
        <p id="recipe-steps-text">{{recipe.steps}}  </p>
        <br>

  
    <div class="recipe-fields">

        <div class="recipe-field-inside">
            <p class="recipe-field-name">Created by</p>
            <a href="/public-profile/{{recipe.user._id}}">{{recipe.user.username}}</a>
        </div>
        

        <div class="recipe-field-inside">
            <p class="recipe-field-name">On </p>
            {{date}}
        </div>     

        <div class="recipe-field-inside">
            <p class="recipe-field-name">Rating </p>
            {{recipe.rating}}
        </div>     

    </div>

    <div>
        <h4>Comment-section</h4>
        {{#each comment}}
            <p>{{this.user.username}}</p>
            <p><em>{{this.text}}</em></p>
        {{/each}}
        
            <p>{{currentDate}}</p>

        <form method="POST" action="/all-recipes/{{recipe._id}}/comment">
            <label for="user">Username</label>
            <input type="text" id="user" name="user" disabled value="{{currentUser.username}}">

            <label for="text" class="form-label">Your comment</label>
            <input name="text" type="text" id="text" required>

            <label for="rating" class="form-label">Your rating</label>
            <input name="rating" type="number" id="rating" max="5" min="1" required placeholder="Min is 1, max is 5">
            
            <button type="sumbit" class="btn">Post comment</button>
        </form>
    </div>

</div>





